doctype html 
html 
    head
        title Noom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body
        header
            h1 Noom 
        main 
            form#nick
                input(type="text" placeholder="닉네임을 입력해주세요" required)
                button 보내기
            ul
            form#message
                input(type="text" placeholder="메세지를 입력해주세요" required)
                button 보내기
        script(src="/public/js/app.js")